@import url(Default.css);

:root {
    --varMargin: 5vw;
    --varMargin2: 15vw;
}

#Certificados {
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
}

#Certificados .contentCarrosel {
    overflow: hidden;
    width: 100%;
    position: relative;
}

#Certificados .contentCarrosel .slot {
    margin: auto;
    width: auto;
    height: auto;
    padding: 1vw;
    background-color: var(--color1);
    border: 2px solid #edfedf;
    border-radius: 20px;
    display: inline-block;
}

#Certificados .contentCarrosel .slot:not(:last-child) {
    margin-right: var(--varMargin2);
}

#Certificados .contentCarrosel .slot img {
    width: 18vw;
    height: auto;
}

#Certificados .contentCarrosel .slot#first {
    margin-left: 0;
}
/* Carrossel */
#Certificados .contentCarrosel .wrapperCarrossel {
    display: inline-flex;
    animation: carousel-animation 40s linear infinite;
    flex-direction: row;
    width: auto;
    padding: 0 var(--varMargin);
}

#Certificados .blurWrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: absolute;
}

#Certificados .blurWrapper .circleBlur{
    width: 60vh;
    height: 60vh;
    background-color: var(--color3);
    border-radius: 100%;
    filter: blur(100px);
}

#Certificados .blurWrapper .circleBlur#right{
    transform: translateX(-8vw);
    background: linear-gradient(270deg,transparent 0, #121212cc 50%);
}

#Certificados .blurWrapper .circleBlur#left{
    transform: translateX(12vw);
    background: linear-gradient(90deg,transparent 0, #121212cc 50%);
}

/* Carrossel animation */
@keyframes carousel-animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-67.8%);
    }
}