@import url('Default.css');

#Contato .infos{
    width: 30vw;
    display: flex;
    gap: 24px;
    flex-direction: column;
    border-radius: 24px;
    background-color: var(--color3);
    padding: 24px;
    justify-content: center;
}

#Contato .local{
    width: 30vw;
    height: 10%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    border-radius: 24px;
    background-color: var(--color3);
    padding: 24px;
    color: var(--color6);
    justify-content: center;

}

#Contato .infos h6{
    font-size: 24px;
    color: var(--color6);
}

#Contato .content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    background-color: var(--color1);
    padding: 24px;
    border-radius: 24px;
}

#Contato .box{
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 24px;
}

a{
    text-decoration: none;
    color: var(--color7);
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 500px;
    border-radius: 24px;
}

@media (max-width: 450px){

    .mapouter, .gmap_canvas{
        width: 70vw;
        height: 70vw;
    }

    #Contato .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Contato .content .box{
        height: fit-content;
    }

    #Contato .box .infos,
    #Contato .box .local{
        width: 70vw;
    }

    #Contato .content .box h6,
    #Contato .content .box h1{
        font-size: 18px;
    }
}

@media (max-height: 750px){
    #Contato .content{
        transform: scale(0.8);
    }
}