@import url('Default.css');

#Contato {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 5.5vw;
    gap: 36px;
    background-image: linear-gradient(to bottom, var(--color1), var(--color8));
    color: var(--colorA);
}

#Contato h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--colorN);
    font-size: 80px;
}

#Contato h2 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color5);
    font-size: 40px;
    margin-top: -36px;
}

#Contato h3 {
    font-size: 24px;
}


#Contato .infos h6 {
    font-size: 24px;
    font-weight: 900;
}

#Contato .infos {
    width: 30vw;
    height: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    border-radius: 24px;
    background-color: var(--color7);
    padding: 36px 24px;
    justify-content: center;
}

#Contato .infos p {
    font-size: 18px;
}

#Contato .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: var(--color1);
    padding: 24px;
    border-radius: 24px;
    align-self: center;
}

#Contato .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    gap: 24px;
}

a {
    text-decoration: none;
    color: var(--colorB);
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 500px;
    border-radius: 24px;
}

@media (max-width: 450px) {

    .mapouter,
    .gmap_canvas {
        width: 70vw;
        height: 70vw;
    }

    #Contato .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Contato .content .box {
        height: fit-content;
    }

    #Contato .box .infos,
    #Contato .box .local {
        width: 70vw;
    }

    #Contato .content .box h6,
    #Contato .content .box h1 {
        font-size: 18px;
    }
}

@media (max-height: 750px) {
    #Contato .content {
        transform: scale(0.8);
    }
}