* {
    margin: 0;
    padding: 0;
}

:root {
    --color1: #2f2f2f;
    --color2: #6B9080;
    --color3: #3d3d3d;
    --color4: #b87548;
    --color5: #FFF8F0;
    --color6: #eaebeb;
    --color7: #6579d6;
    --colorN: #edfedf;
}

/* Contents */

body {
    overflow-x: hidden;
    background-color: var(--color3);
}

html{
    width: 100vw;
    overflow-x: hidden;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.interSec {
    width: 100vw;
    height: 10vh;
    background-color: var(--color1);
}

::-webkit-scrollbar {
    width: 6px;
    transition: 10s;
    background-color: var(--color1);
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    transition: 10s;
    /* cor do "ponteiro" da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* cor ao passar o mouse sobre a barra de rolagem */
}

@media (max-width: 450px){
    ::-webkit-scrollbar {
        width: 0;
        opacity: 0;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #888;
        transition: 10s;
        width: 0;
        /* cor do "ponteiro" da barra de rolagem */
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
        width: 0;
        /* cor ao passar o mouse sobre a barra de rolagem */
    }
}