*{
    margin: 0;
    padding: 0;
}

:root{
    --color1: #2f2f2f;
    --color2: #6B9080;
    --color3: #3d3d3d;
    --color4: #b87548;
    --color5: #FFF8F0;
    --colorN: #edfedf;
}

/* Contents */

body{
    overflow-x: hidden;
    background-color: var(--color3);
}

section{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.interSec{
    width: 100vw;
    height: 10vh;
    background-color: var(--color1);
}