@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
@import url(Default.css);


#Home h1, #Home h2, #Home h3, #Home p{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--color1);
}

#Home h1 {
    font-size: 50px;
    color: var(--color1);
}

#Home h3{
    font-size: 30px;
}

#Home p{
    font-size: 20px;
}

