@import url(Default.css);
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

footer {
    padding: 2.5vw;
    padding-left: 5.5vw;
    background-color: var(--color1);
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color5);
    font-size: 24px;
}

footer .infos {
    width: 30vw;
    display: flex;
    gap: 24px;
    flex-direction: column;
    border-radius: 24px;
    padding-left: 24px;
    justify-content: center;
    margin-top: 12px;
}

footer .infos h6 {
    font-size: 18px;
    color: var(--color6);
}

footer .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

footer .btn img{
    width: 72px;
    height: auto;
}