@import url(Default.css);

section#Home{
    background-image: url(../Media/black-abstract-dark-2560x1440-9729.jpg);
     background-size: clip;
    background-repeat: no-repeat;
    flex-direction: row;
    justify-content: space-between;
}

section#Home .wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 12vw;
}

section#Home .content#title{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 26vw;
    background-color: var(--color4);
    padding: 24px;
    border-radius: 24px;
}

section#Home .content .box{
    width: 100%;
}

section#Home .content#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content#logo .box img{
    width: 34vw;
    height: auto;
}

.content#logo .box{
    animation: infinite 12s linear spin;
}

/* Keyframes */

@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}