@import url(Default.css);

/* Contents */

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 100vh;
    background-color: var(--color1);
    gap: 2.5vw;
    z-index: 1000;
    transition: 1s;
}

header img {
    width: 1.8vw;
    height: auto;
}

header .boxNavBar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

header .boxNavBar a {
    padding: 6px;
    border-radius: 12px;
    transition: 0.75s;
}

header .boxNavBar a:hover {
    transition: background-color 0.3s ease;
    background-color: var(--color7);
}

header .boxNavBar a::after {
    content: "Home";
    align-self: center;
    position: absolute;
    right: -130px;
    background-color: var(--color7);
    color: var(--color5);
    font-size: 14px;
    transition: 0.75s;
    opacity: 0;
    border-radius: 12px;
    width: 150px;
    padding: 6px;
    text-align: right;
    z-index: -100;
}

header .boxNavBar a:hover:after {
    opacity: 1;
    animation: slideIn 1s ease-in-out;
}

header .boxNavBar#descricao a::after {
    content: "Descrição";
}

header .boxNavBar#certificado a::after {
    content: "Certificados";
}

header .boxNavBar#contato a::after {
    content: "Contato";
}

header .boxNavBar#projetos a::after {
    content: "Projetos";
}

@keyframes slideIn {
    0% {
        color: transparent;
        transform: scaleX(0%) translateX(-150px);
    }

    100% {
        color: var(--color5);
        transform: scaleX(100%) translateX(0);
    }
}

@media (max-width: 450px) {

    header,
    header .boxNavBar,
    header img {
        width: 0;
    }

    header {
        pointer-events: none;
    }

}