@import url(Default.css);

/* Contents */

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 100vh;
    background-color: var(--color1);
    gap: 2.5vw;
    z-index: 1000;
    transition: 1s;
}

header img {
    width: 2.5vw;
    height: auto;
}

header .box {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

header .box a {
    padding: 6px;
    border-radius: 12px;
    transition: 0.75s;
}

header .box a:hover {
    transition: background-color 0.3s ease;
    background-color: var(--color3);
}

header .box a::after {
    content: "Home";
    align-self: center;
    position: absolute;
    right: -130px;
    background-color: var(--color3);
    color: var(--color5);
    font-size: 16px;
    transition: 0.75s;
    opacity: 0;
    border-radius: 12px;
    width: 150px;
    padding: 12px;
    text-align: right;
    z-index: -100;
}

header .box a:hover::after {
    opacity: 1;
    animation: slideIn 1s ease-in-out;
}

header .box#descricao a::after {
    content: "Descrição";
}

header .box#certificado a::after {
    content: "Certificados";
}

header .box#contato a::after {
    content: "Contato";
}

header .box#config a::after {
    content: "Configurações";
}

header .box#projetos a::after {
    content: "Projetos";
}

@keyframes slideIn {
    0% {
        color: transparent;
        transform: scaleX(0%) translateX(-150px);
    }

    100% {
        color: var(--color5);
        transform: scaleX(100%) translateX(0);
    }
}