@import url(Default.css);

/* Contents */

header{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 100vh;
    background-color: var(--color3);
    gap: 5vw;
}

header img{
    width: 2.5vw;
    height: auto;
}

header .box{
    cursor: pointer;
}

header .box a:hover{
    transition: background-color 0.3s ease;
}