@import url(Default.css);
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 100vh;
    background-color: var(--color1);
    gap: 2.5vw;
    z-index: 1000;
    transition: 1s;
}

.box img {
    width: 1.8vw;
    height: auto;
}

.box#back_arrow:hover {
    animation: 0.8s ease-in-out piscar;
}

.box#back_arrow:not(:hover) {
    animation: 0.8s ease-in-out desPiscar;
}


@keyframes piscar {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes desPiscar {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

img {
    width: 800px;
    height: auto;
    margin-bottom: 24px;
}

article {
    width: 100vw;
    padding-left: 3vw;
    padding-top: 5.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: var(--color6);
}

h1 {
    font-size: 110px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 30px;
    margin-bottom: 24px;
}

h6 {
    font-size: 18px;
    margin-bottom: 12px;
    width: 50vw;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--color7);
}